/*  */

/* ---body--- (fonts, ) */
body{
    /* reset defaults */
    padding: 0;
    margin: 0;
}


/* ---Homepage--- */

/* header style */
#header{
    color: red;
}

/* 'fall' transition for all main-headings */


/* main navigation buttons */
#main-nav{
    width: 100%;
    height: 400px;
    display: grid;
}

.main-nav-buttons{
    /* margin shorthand - top/bottom left/right */
    margin: 20px 400px;
    
    text-transform: uppercase;

    /* incl. padding and border within total height/width */
    box-sizing: border-box;
    width: auto;
    height: auto;

    border: 2px solid red;
    border-radius: 4px;
}

.main-nav-buttons a{
    color: red;
    text-decoration: none;
}

/* footer */