/* ---Imports--- */

/* Google Fonts: Montserrat (all normal font-weights), Fira Sans (all normal font-weights)  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---Body--- (fonts, ) */
body{
    /* reset defaults */
    padding: 0;
    margin: 2px;
    border:0;
    /* incl. padding and border within total height/width */
    box-sizing: border-box;

    font-family: Montserrat, sans-serif;
    color: #484848;
}


/* ---Homepage--- */

#homepage-header h1{
    padding:2px 5px;
    border: 1px solid white;
    border-radius: 4px;
}

/* header styles */
.main-headings {
    color: white;
    font-weight:lighter;
    text-transform: uppercase;
    word-spacing:5px;
    background-color: #484848;

    /* for responsivity */
    width: 100%;
    height: auto;
    border:2px solid white;
    box-sizing: border-box;

    /* credit: https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block (Approach 2 - Flexbox method) */
    display:flex;
    align-items: center;
    justify-content: center;

}

.main-headings h1{
    margin:10px;
}

/* 'fall' transition for all main-headings */


/* welcome paragraph */
#welcome-para{
    text-align:center;
    color: white;
    background-color: #484848;
    border:2px solid white;

    /* for responsivity */
    width: 100%;
    height: auto;
    box-sizing: border-box;

}

#welcome-para h2{
    text-transform: uppercase;
    margin:10px;
}

#welcome-para p{
    /* credit: https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block (Approach 2 - Flexbox method) */
    display:flex;
    align-items: center;
    justify-content: center;

    font-family: Fira Sans, sans-serif;
    font-weight:300;
    line-height:125%;
    margin:10px;
}


/* main navigation menu */
#main-nav{
    width: 100%;
    height:auto;
    box-sizing: border-box;

    margin:50px auto;
    display: grid;
}

.main-nav-link{
    /* margin shorthand - top/bottom left/right */
    margin: 25px 33%;
    
    text-transform: uppercase;
    color:#484848;
    text-decoration: none;
    text-align:center;

    width: auto;
    height: auto;
    padding: 10px;

    border: 2px solid red;
    border-radius: 4px;
}

.main-nav-link img{
    position:relative;
    top:4px;
}


/* ---Footer--- */

.footer{
    color: white;
    background-color: #484848;
    border:2px solid white;

    width: 100%;
    height:auto;
    /* height: 70px; */
    box-sizing: border-box;
}

.footer ul{
    list-style-type: none;
    
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    padding:0;
    margin:10px;
}

.footer li{
    display: inline;
}


.footer-links{
    color: white;
    text-decoration: none;

    height: 30px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
}

.social-media img:hover{
    background-color:#808080;
    border-radius: 8px;
}


/* ---The 3 info pages headers--- */

.pages-header{
    color:white;
    background-color:#484848;
    border: 2px solid white;
    box-sizing: border-box;

    overflow: auto;
    position:fixed;
    top: 0;
    width:100%;
    /* high enough to stay on top */
    z-index:1;
    
}

.pages-header h1{
    font-size: 130%;
    border: 1px solid white;
    border-radius:4px;
    float:left;
    padding: 2px;
    margin:8px 5px 5px 5px;
    text-transform:uppercase;
    word-spacing: 2px;
}

.pages-header a:hover{
    color:#808080;
}

.pages-header h1:hover{
    border-color:#808080;
}

.pages-header a{
    color:white;
}

.pages-nav ul{
    float:right;
    margin: 5px;
    padding:0;
}

.pages-nav li{
    list-style-type: none;
    float:left;
    /* margin: 0 5px; */
    margin: 3px 20px 0 20px;
    padding: 0 10px;
}

.pages-nav img:hover{
    background-color:#808080;
    /* border-radius: 50%; */
    border-radius: 8px;
}

.pages-nav .current-page:hover{
    background-color:#f0f0f0;
}

.fixed-header-buffer{
    height:50px;
    width:100%;
    z-index: 0;
}


/* ---The 3 info pages fixed links--- */

/* stops fixed-header covering section headings when user clicks fixed-links to navigate*/
/* needs to adapt for smaller screens if the fixed-header increases in height */
.buffer-div{
    height:32px;
    width:100%;
}

.buffer-div hr{
    margin:0;
}

.fixed-links{
    list-style-type: none;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align:center;
    padding:0;
    margin:10px;
}

.fixed-links li{
    margin:2px;
    padding:5px;
}

.fixed-links a{
    color:rgba(128,128,128,0.5);
    text-decoration: none;
    text-transform: uppercase;

    padding:5px;
}

.fixed-links-icon{
    padding: 5px;
}

  .fixed-links-words:hover {
    color: white;
    /* background-color: #484848; */
    background-color:rgba(128,128,128,0.5);
    border-radius: 8px;
    /* opacity: 0.75; */
  }

  .fixed-links-icon:hover{
    background-color:rgba(128,128,128,0.5);
    border-radius: 8px;
    box-sizing: border-box;
    /* border:1px solid #484848; */
  }


/* ---3 info pages' headings and <p> styling--- */

.page-section > h3{
    text-transform: uppercase;
    text-align:center;
    margin-bottom:0;
}

/* make it > if you dont want it to affect the tiles <p> */
.page-section p{
    font-family: Fira Sans, sans-serif;
    font-weight:300;
    line-height:125%;
    margin:10px 5px;
}

.page-section h4{
    font-weight: bolder;
    text-transform: uppercase;
}


/* ---Brief-history page--- */

.term-tiles > p{
    width:100%;
}

.term-tiles{
    display:flex;
    flex-wrap: wrap;
}

.term-tiles h4{
    width:100%;
    margin:10px 0 10px 2px;
}

.term-tiles div{
    border: 2px solid #484848;
    border-radius:4px;

    /* before hover, just the term name is visible */
    width:200px;
    height:30px;
    overflow:hidden;

    /* while checking the div content */
    /* width:190px; */
    /* height:290px; */

    padding: 5px;
    margin: 5px;
}

/* make on click instead? */
.term-tiles div:hover{
    width:200px;
    /* height:200px; */
    height:auto;
    overflow:auto;
    border: 2px groove red;
    color:red;
}

.term-tiles h5{
    padding:5px;
    margin:0;

    font-size:90%;
    font-weight:700;
    text-transform: uppercase;

    border-left: 5px groove #484848;
    border-top: 5px ridge #484848;
}

.term-tiles div p{
    border-right: 5px groove #484848;
    border-bottom: 5px ridge #484848;
}

/* ---3-Main-disc page--- */